.size {
    height: 20rem;
    width: 100%;
    background-color: #212731;
    padding: 2rem 1rem; /* Adjust padding for better spacing on small screens */
    @media (max-width: 768px) {
        height: auto;
}
}

.midpart {
    display: flex;
    flex-direction: column; /* Display items in a column for small screens */
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%; /* Adjust max-width for better responsiveness */
}

.categories {
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-bottom: 1rem; /* Add some space between categories and subhead */
}
.categories:hover{
    cursor: pointer;
    color: grey;
}
.subhead {
    color: #B6BDC4;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 1rem; /* Add some space between subhead and mainhead */
}
.subhead:hover{
    cursor: pointer;
    color: grey;
}
.mainhead {
    margin-top: 1rem;
}
.mainhead:hover{
    cursor: pointer;
    color: grey;
}
.otherhead {
    margin-top: 1rem;
    display: flex;
    flex-direction: row; /* Display items in a column for small screens */
    align-items: center;
    gap: 10px;
    @media (max-width: 768px) {
        flex-direction: column;       
}
}
.otherhead:hover{
    cursor: pointer;
    color: grey;
}

.newimage {
    display: flex;
    align-items: center;
    margin-top: 0.1rem;
    @media (max-width: 768px) {
        margin-top: -1rem;     
}
}

@media (min-width: 768px) {
    .midpart {
        flex-direction: row; /* Switch back to row layout for larger screens */
        justify-content: space-between;
    }

    .categories,
    .subhead,
    .mainhead,
    .otherhead {
        margin-bottom: 0; /* Reset margin for larger screens */
    }
}
